//runes.component.scss
@import '../../variables';

.runes-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .description-section {
    text-align: center;
    margin-bottom: 1rem;
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      background-color: $gold-600;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 6px;
    }
  
    .collapsed {
      display: none;
    }
  }
  
  .video-section {
    display: flex;
    flex-direction: column;
    gap: 2rem; // Space between rows
  }
  
  .video-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    border-radius: 10px;
  
    // Reverse layout for alternating rows
    &.reverse {
      flex-direction: row-reverse;
    }
  
    .video-embed {
      width: 50%;
      height: 315px;
      border-radius: 8px;
    }
  
    .video-description {
      text-align: center;
      width: 50%;
      padding: 1rem;
      font-size: 1rem;
      //background-color: $dark-gray-700;
      line-height: 1.5;
      color: $gold-700;
      border-radius: 8px;
    }
  }
  