/* runes-segment.component.scss */
@use '../../../variables' as vars;

.empty-anchor {
  height: 0;
  visibility: hidden;
}

.segment {
  margin-bottom: 2px;
  padding: 10px;
  border-radius: 10px;
  background-color: vars.$dark-gray-700;
  width: 100%;
  margin-left: 0;
}

.segment-inner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.image-wrapper {
  flex-shrink: 0;
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.segment-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 50%;
}

.segment-title {
  font-size: 1.4em;
  margin-bottom: 5px;
  color: vars.$gold-500;
}

.segment-content {
  font-size: 1rem;
  color: vars.$gold-200;
  line-height: 1.6;

  p {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .segment-inner {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-wrapper {
    width: 100%;
  }

  .content-wrapper {
    width: 95%;
  }

  .segment-title {
    font-size: 1.2rem;
  }

  .segment-content {
    font-size: 1rem;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .segment-inner {
    flex-direction: row;
    align-items: center;
    text-align: left;

    .image-wrapper,
    .content-wrapper {
      width: 45%;
    }
  }
}