<!--top-nav.component.html-->
<div class="nav-container">
  <nav class="top-nav">
    <ul class="nav-list-horizontal">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active">Soulfly Gaming</a></li>
      <li class="nav-item"><a routerLink="/sisyphus" routerLinkActive="active">Sisyphus Game</a></li>
      <li class="nav-item"><a routerLink="/runes" routerLinkActive="active">Runes of Elana</a></li>
      <li class="nav-item"><a routerLink="/marchtrenk" routerLinkActive="active">Marchtrenk</a></li>
      <li class="nav-item"><a routerLink="/bio" routerLinkActive="active">about Soulfly</a></li>
    </ul>
  </nav>
  <button class="theme-toggle" (click)="toggleTheme()">
    {{ isLightMode ? '🌙' : '☀️' }}
  </button>
   <!--
  <button class="lang-toggle" (click)="toggleLanguage()">
    <span *ngIf="langService.lang === 'de'">🇬🇧</span>
    <span *ngIf="langService.lang === 'en'">🇩🇪</span>
  </button>
 
  <button class="lang-toggle" (click)="toggleLanguage()">
    {{ langService.lang === 'en' ? '🇩🇪' : '🇬🇧' }}
  </button>
  -->
  <button class="lang-toggle" (click)="toggleLanguage()">
    <img 
      [src]="'assets/images/' + (langService.lang === 'de' ? 'en' : 'de') + '.png'" 
      alt="Language Toggle" 
      width="24" 
      height="24"
    >
  </button>
</div>