//sisyphus.component.scss
@use './variables' as vars;

.sisyphus-page {
  text-align: center;
  padding: 1rem;
  align-items: center;

  .steam-widget {
    margin-top: 1rem auto;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    padding-bottom: 0;
    aspect-ratio: 16 / 9;
    iframe {
      display: inline-block;
      max-width: 100%; /* Ensure the iframe doesn't exceed the widget's width */
      width: 100%;
    }
  }

  .steam-button {
    background-color: vars.$gold-600;
    color: white;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
  }

  .steam-button:hover {
    background-color: vars.$gold-800;
  }
}

/* --- Mobile and small screen responsiveness --- */
@media (max-width: 768px) {
  .sisyphus-page {
    padding: 0.5rem;

    .steam-widget {
      width: 90%;
      max-width: 90%;
      height: auto;
      max-height: none;
      aspect-ratio: 4/3;
      border-radius: 14px;
      iframe {
        display: inline-block;
        display: inline-block;
        max-width: 90%; /* Ensure the iframe doesn't exceed the widget's width */
        width: 90%;
      }
    }

    .steam-button {
      display: inline-block;
      width: 90%;
      text-align: center;
      font-size: 1rem;
      padding: 0.8rem 1rem;
      align-self: center;
    }
  }
}

blockquote footer {
  margin-top: 0 !important;
}
