//sisyphus.component.scss
@use './variables' as vars;

.sisyphus-page {
  text-align: center;
  color: #eee;
  padding: 1rem;

  .steam-widget {
    padding: 1rem;
    border-radius: 8px;
    background-color: #171a21;
    color: white;
    max-width: 300px;
    margin: 1rem auto; /* 1rem vertical space, centered horizontally */
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .steam-button {
    background-color: vars.$gold-600;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }

  .steam-button:hover {
    background-color: vars.$gold-800;
  }
}

/* --- Mobile and small screen responsiveness --- */
@media (max-width: 768px) {
  .sisyphus-page {
    padding: 0.5rem;

    .steam-widget {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .steam-button {
      width: 90%;
      text-align: center;
      font-size: 1rem;
    }
  }
}

blockquote footer {
  margin-top: 0 !important;
}
