<div class="sisyphus-page">
  <h1>Sisyphus the Game</h1>
  <p>
    Developed in collaboration with <strong><a href="https://mljr.eu" target="_blank" style="text-decoration: none; color: inherit;">Michael Reinegger</a></strong> in Game Development class 2023/24 at Johannes Kepler University Linz using Unity and C#.
  </p>
  <blockquote style="margin-bottom: 0; font-style: italic;">
    <ul><li>
      "A simple and challenging game where you show the gods of Olympus that your perseverance is stronger than they would think."
    </li>
  </ul>
    <footer style="margin-top: 0">— <strong> <a href="https://mljr.eu" target="_blank" style="text-decoration: none; color: inherit;">Michael Reinegger</a> </strong></footer>
  </blockquote>
  <p>‎</p>
  <p>
    Our group landed on the idea of Sisyphus following an idea finding process using brain storming and idea mapping.
    We focused on a fun and challenging player experience that we could realize within the class timeframe.
    Therefore the content is limited to 60-120 min of playtime, depending on your skill.
  </p>
  
  <p>
    The thought of the rock tormenting Sisyphus with witty and hurtful comments on Sisyphus's lack of progress made our spiteful developer hearts smile on the inside.
  </p>
  <p>
    Voted <strong>second place</strong> out of the seven game projects in our class.
  </p>
  <p>‎</p>
 
  <!-- 🔗 Steam Store Widget -->
  <iframe
    src="https://store.steampowered.com/widget/3403380/"
    frameborder="0"
    width=100%
    height="190"
    class="steam-widget"
  ></iframe>

  <a href="https://store.steampowered.com/app/3403380/Sisyphus_The_Game/" target="_blank" class="steam-button">
    View and Watch Trailer on Steam!
  </a>
</div>