<!-- app.component.html -->

<!-- Use custom top navigation component -->
<app-top-nav></app-top-nav>


<!-- Wrapper for main content and ads -->
<div class="content-wrapper">
  <div class="main-content">
    <router-outlet></router-outlet>  <!-- Content for each page will be displayed here -->
  </div>

  <!-- Ad compartment -->
  <div class="ads-container">
    <!-- Google AdSense script -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5558035854405198"  <!-- Your Google AdSense client ID-->
      data-ad-slot="XXXXXXX"  <!-- Your Google Ad slot -->
      data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
