<!-- app.component.html -->

<!-- Use custom top navigation component -->
<app-top-nav></app-top-nav>


<!-- Wrapper for main content and ads -->
<div class="content-wrapper">
  <div class="main-content">
    <router-outlet></router-outlet>  <!-- Content for each page will be displayed here -->
  </div>

  <!-- Ad compartment -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5558035854405198"
            crossorigin="anonymous">
  </script>
  <!-- horSegment -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5558035854405198"
      data-ad-slot="3700632319"
      data-ad-format="auto"
      data-full-width-responsive="true">
  </ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
