<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<nav class="top-nav">
  <ul class="nav-list-horizontal">
    <li class="nav-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li class="nav-item"><a routerLink="/sisyphus" routerLinkActive="active">Sisyphus the Game</a></li>
    <li class="nav-item"><a routerLink="/runes" routerLinkActive="active">Runes</a></li>
    <li class="nav-item"><a routerLink="/bio" routerLinkActive="active">Bio</a></li>
    <li class="nav-item settings-button">
      <button class="theme-toggle" (click)="toggleTheme()">
        {{ isLightMode ? '🌙' : '☀️' }}
      </button>
    </li>
  </ul>
</nav>
<!-- Wrapper for main content and ads -->
<div class="content-wrapper">
  <div class="main-content">
    <router-outlet></router-outlet>  <!-- Content for each page will be displayed here -->
  </div>

  <!-- Ad compartment -->
  <div class="ads-container">
    <!-- Google AdSense script -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5558035854405198"  <!-- Your Google AdSense client ID-->
      data-ad-slot="XXXXXXX"  <!-- Your Google Ad slot -->
      data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
