<div class="marchtrenk-container">
    <h2>Vermietung in Marchtrenk – Bahnhofsnah</h2>
  
    <p>
      Wir befinden uns im Augenblick im Abriss unserer Siloanlage in Marchtrenk, direkt nördlich des Bahnhofs Marchtrenk.
      Wir sind zuversichtlich bis Ende des Jahres 2025 die Gesamtfläche von 3800m² zur Vermietung anbieten zu können.
    </p>

    <div class="image-gallery">
        <div class="main-image-container">
          <img [src]="images[currentImageIndex]" alt="Gallery Image" class="main-image" />
        </div>
      
        <div class="thumbnail-scroll">
          <img
            *ngFor="let image of images; let i = index"
            [src]="image"
            [class.active]="i === currentImageIndex"
            (click)="selectImage(i)"
            alt="Thumbnail"
            class="thumbnail"
          />
        </div>
      </div>
  
    <h3>Vorteile der Location:</h3>
    <ul>
      <li>3800m² Mischbau Grund</li>
      <li>rel. ruhige Lage: Einfamilienhäuser im Norden und Osten, PKW-Werkstatt im Westen und der Bahnhof im Süden</li>
      <li>weniger als 20m zum Pendlerparkplatz der ÖBB</li>
      <li>weniger als 100m zum Bahnhofseingang – perfekt für Pendler</li>
      <li>Züge sind sehr leise und die Lärmdämmung hervorragend durch Lärmschutzwände</li>
    </ul>
  
    <div class="location-section">
      <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5318.608166638914!2d14.095146676853721!3d48.20075854675982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477392ee4e1050cb%3A0x5f468d23914407b3!2sWestbahnstra%C3%9Fe%2024%2C%204614%20Marchtrenk!5e0!3m2!1sen!2sat!4v1746574214740!5m2!1sen!2sat" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
  
      <div class="address-box">
        <h4>Adresse:</h4>
        <p>Westbahnstraße 24<br>4614 Marchtrenk</p>
      </div>
    </div>
  
    <div class="interest-box">
      <h3>Auf Ihr Interesse freuen sich:</h3>

      <h4>Eigentümer bis Dez. 2025: Johann Silber sen.</h4>
      <p><strong>Telefon: </strong> <a href="tel:+43 699 1145 0135">+43 699 1145 0135</a></p>
      <p>‎</p>

      <h4>Eigentümer ab Jan. 2026: Stanislaus Silber</h4>
      <p><strong>Email: </strong> <a href="mailto:nedwalain@yahoo.de">nedwalain&#64;yahoo.de</a></p>
      <p><strong>Telefon: </strong> <a href="tel:+43 660 34 11 840">+43 660 34 11 840</a></p>
    </div>
  </div>