<main>
    <div class="home-page">
      <div class="project-link">
        <img src="assets/images/sisyphus.jpg" class="circle-image" alt="Sisyphus the Game" />
        <div class="project-desc">
          <h2>Sisyphus the Game</h2>
          <p>
            A challenging single player experience on Steam developed by Michael Reinegger and myself. 
            Jump into the role of Sisyphus and his punishing conquest of the mountain. 
            Can you endure the rock with its ever mocking and hurtful comments on your way to the top?
          </p>
          <a routerLink="/sisyphus">View More</a>
        </div>
      </div>
  
      <div class="project-link">
        <img src="assets/runes-of-elana.png" class="circle-image" alt="Runes of Elana" />
        <div class="project-desc">
          <h2>Runes of Elana</h2>
          <p>
            Soulfly's solo game development project showcasing immersive mechanics and art.
          </p>
          <a routerLink="/runes">View More</a>
        </div>
      </div>
  
      <div class="project-link">
        <img src="assets/bio.png" class="circle-image" alt="About Soulfly" />
        <div class="project-desc">
          <h2>About Me</h2>
          <p>Discover the journey and real name behind Soulfly.</p>
          <a routerLink="/bio">Read Bio</a>
        </div>
      </div>
    </div>
  </main>